<img src="/img/ava.jpg" width="200px" alt="лайла" />
<div class="info-feedback">
	<table>
		<tr>
			<td>Связаться по email</td><td><a href="mailto:nikita@harlov.com" />nikita@harlov.com</a></td>
		</tr>
		<tr>
			<td>Twitter</td><td><a href="https://twitter.com/harlov" />https://twitter.com/harlov</a></td>
		</tr>
	</table>
</div>