<div id="vk_subscribe"></div>
<script type="text/javascript">
VK.Widgets.Subscribe("vk_subscribe", {}, 1870226);
</script>
<br />
<div class="info-feedback">
	Связаться по email<br />
	<a href="mailto:nikita@harlov.com" />nikita@harlov.com</a><br /><br />
	Twitter<br />
	<a href="https://twitter.com/harlov" />https://twitter.com/harlov</a>
</div>
<img src="/img/ava.jpg" width="200px" alt="лайла" />