<div class="article">
<h1><%= @article.title.html_safe %></h1>
<br />
<div class="content_block">
	<%= @article.text.html_safe %>
</div>
<div class="supply_block">
	<div class="tags">
		<%- @article.tagc.each do |tag| %>			
			<%= link_to tag.name,'/article/tag'+tag.id.to_s %>
		<% end %>
	</div>
</div>


</div>