<p>
  <b>Title:</b>
  <%= title %>
</p>

<p>
  <b>Text:</b>
  <%= text %>
</p>

<p>
  <b>Created at:</b>
  <%= created_at %>
</p>

<p>
  <b>Updated at:</b>
  <%= updated_at %>
</p>


<a href="#/index">Back</a>