<h3>Что новенького?</h3>
<div class="posts">
	<% @posts.each do |post| %>
		<div class="post">
			<div class="title"><a class="dashed" href="blog/<%= post.id %>"><%= post.title%></a></div><span class="created_at"><%= post.created_at %></span>			
			<div class="text"><%= post.text.html_safe %></div>			
		</div>
	<% end %>
</div>
