// Place all the styles related to the Article controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.vk_comments_block {
	margin-top: 20px;
}


.article {
	border-bottom: 1px solid gray;
}

.tags a {
	/*border: 1px solid gray;*/
	padding: 2px 5px;
	color: #4F4F4F;
	font-weight: normal;
	border-radius: 2px;
	background-color : #A3FFC7;
}

.tags a:hover {
	text-decoration: none;
	background-color: gray;
	color:white;
};